@{
    ViewData["Title"] = "Home Page";
}




    <title>@ViewData["Title"] - la_mia_pizzeria</title>

  
        <div class="jumbo">
            <nav class="d-flex justify-content-end">    
                    <div class="">
                         <a class=" text-dark" asp-area="" asp-controller="Pizza" asp-action="Index">Guarda le nostre Pizze</a>
                    </div>
             </nav>

             <h2>I nostri ingredienti</h2>

        </div>
  

