
@model Pizza


<div class="container">
    <form asp-controller="Pizza" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <strong>Nome:</strong>
            <input asp-for="NomePizza" class="d-block w-100" />
        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <input asp-for="Descrizione" class="d-block w-100" />
        </div>
        <div class="mb-3">
            <strong>Immagine:</strong>
            <input asp-for="PathImage" class="d-block w-100" />
        </div>
        <div class="mb-3">
            <strong>Prezzo:</strong>
            <input asp-for="Prezzo" class="d-block w-100" />
        </div>
        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Salva">
        </div>
    </form>
</div>
           