
@model Pizza


<div class="container">
    <form asp-controller="Pizza" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
         <div class="mb-3">
            <label for="NomePizza">Nome: </label>
            <input id="NomePizza" asp-for="NomePizza" class="d-block w-100" />            
            @*<span asp-validation-for="NomePizza" class="text-danger"></span>*@
        </div>        
        <div class="mb-3">
            <label for="Prezzo">Prezzo: </label>
            <input type="number" id="Prezzo" asp-for="Prezzo" class="d-block w-100" />    
            @*<span asp-validation-for="Prezzo" class="text-danger"></span>*@
        </div>
        <div class="mb-3">
            <label for="Descrizione">Descrizione: </label>
            <textarea id="Descrizione" asp-for="Descrizione" class="d-block w-100" ></textarea>  
            @*<span asp-validation-for="Description" class="text-danger"></span>*@
        </div>
        <div class="mb-3">
            <label for="PathImage">Immagine: </label>
            <input id="PathImage" asp-for="PathImage" class="d-block w-100" />            
        </div>
        <div>
            <button class=" btn btn-success" type="submit">Salva</button>
        </div>
    </form>
</div>
           